/* Navigation Bar Container Config */

.navbar-container {
  width: 100%;
  margin: 0 auto;
  /* background-color: aqua; */
}

/* Navigation Bar */

.navigate {
  display: flex;
  height: 25%;
  position: sticky;
  top: 0;
  border-bottom: 1px solid lightgray;
  background-color: white;
  padding-bottom: 0.2%;
}

.icon,
.search,
.cosmos {
  position: relative;
  left: 8%;
  font-size: 14.25px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  margin-right: 20px;
  margin-top: 8px;
}

.cosmos a {
  text-decoration: none;
}
.cosmos a:visited {
  color: initial;
}

.cosmos a:hover {
  text-decoration: underline;
}

.logo {
  margin: 0 auto;
}

.buttons {
  position: relative;
  right: 8%;
}

.buttons button {
  background-color: #567b95;
  margin-top: 2px;
  border: 1px solid #346991;
  border-radius: 3px;
  vertical-align: middle;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  color: white;
  padding: 11px 12px 8px;
}

/* Main Content  */

.main-container {
  background-color: aqua;
  width: 65%;
  margin: 0 auto;
}
.main-container h1{
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    width: 550px;
    margin: auto;
    

}
